<doctype! html>
    <html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.c  om/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style>

        </style>
    </head>

    <body>
        <header>

        </header>
        <div class="w3-display-topmiddle w3-margin-top">
            <button class="w3-third w3-btn w3-white w3-border w3-border-black w3-round-large w3-card" onclick="window.href=hall">
                <img src="../static/homeicon.png" alt="home icon" style="width:70%" />
                <h4><b>Hall</b></h4>
            </button>
            <div class="w3-third">
                <br />
            </div>
            <input type="button" class="w3-third w3-btn w3-white w3-border w3-border-black w3-round-large w3-card"
                onclick="window.href=bedroom">
            <img src="../static/homeicon.png" alt="home icon" style="width:70%" />
            <h4><b>Bedroom</b></h4>
            </input>
        </div>
    </body>

    </html>